<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Make Payment</title>
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-light">
  {% load django_bootstrap5 %}

    <div class="card shadow-sm p-4" style="width: 100%; max-width: 500px">
        <h3 class="text-center mb-4">Make Payment</h3>
        <form  method="post" class="needs-validation" novalidate>
          {% csrf_token %} 
          {% for field in form %}
          <div class="mb-3">{% bootstrap_field field %}</div>
          {% endfor %}
          <button type="submit" class="btn btn-success w-100 rounded-pill">Pay Now</button>
        </form>

      

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>